POSTGRES_USER=postgres
POSTGRES_PASSWORD=11112222222222222222222222222
POSTGRES_DB=n8n
POSTGRES_NON_ROOT_USER=postgres
POSTGRES_NON_ROOT_PASSWORD=11112222222222222222222222222

# set timezone or leave empty
GENERIC_TIMEZONE=America/Sao_Paulo
# America/Sao_Paulo = -03:00
# America/New_York  = -5:00
# Africa/Abidjan = +00:00 

NODES_EXCLUDE="[]"

# MANDATORY - ADD THESE VARIABLES (don't change the values, only the runner token) 
N8N_RUNNERS_AUTH_TOKEN=00_set_random_token_here_0010100101010202030707070040407700301
N8N_RUNNERS_ENABLED=true
N8N_RUNNERS_MODE=external
N8N_RUNNERS_BROKER_LISTEN_ADDRESS=0.0.0.0
N8N_NATIVE_PYTHON_RUNNER=true
PYTHON_PATH=/home/node/.venv/bin/python
# ^^^^^ MANDATORY - ADD THESE VARIABLES

NODE_FUNCTION_ALLOW_BUILTIN=*
NODE_FUNCTION_ALLOW_EXTERNAL=*

# your full app url, or http://localhost/ if accessing locally
N8N_EDITOR_BASE_URL=https://n8n.xxx.br/

# your domain with subdomain or localhost if local
N8N_HOST=n8n.xxx.br

# The top level domain to serve from, this should be the same as the top level for the subdomain you created above
# leave empty or localhost (?)
DOMAIN_NAME=xxx.br

# The subdomain to serve from - leave empty if localhost (*?)
SUBDOMAIN=n8n
# http://localhost/ if running locally
WEBHOOK_URL=https://n8n.xxx.br/
N8N_ENDPOINT_WEBHOOK=w
N8N_ENDPOINT_WEBHOOK_TEST=w-test
#WEBHOOK_TUNNEL_URL=https://xxx.br/ # not needed 

# Number of reverse-proxies n8n is running behind.
N8N_PROXY_HOPS=1
# set to 0 if you are not using a reverse proxy

N8N_PORT=5678
N8N_PROTOCOL=https
# http if not using ssl
NODE_ENV=production

# https://docs.n8n.io/hosting/configuration/configuration-examples/modules-in-code-node/
NODE_FUNCTION_ALLOW_BUILTIN=*
NODE_FUNCTION_ALLOW_EXTERNAL=*

https://github.com/n8n-io/n8n/blob/dd45dfea3c92c2046583d6036bbe25d4e8d34690/packages/cli/BREAKING-CHANGES.md?plain=1#L65-L78

# N8N_RUNNERS_ALLOW_PROTOTYPE_MUTATION=true # deprecated

# (Optional - if you want to embed your webhook html responses in another site)
# Inside 'frame ancestors' array at the end of this line, set the domains you want to allow embedding your webhook responses:
# N8N_CONTENT_SECURITY_POLICY="{\"default-src\":[\"'self'\"],\"script-src\":[\"'self'\",\"'unsafe-inline'\",\"'unsafe-eval'\",\"https://cdn-rs.n8n.io\",\"https://static.cloudflareinsights.com\",\"https://us.i.posthog.com\"],\"style-src\":[\"'self'\",\"'unsafe-inline'\"],\"connect-src\":[\"'self'\",\"https://api.n8n.io\",\"https://us.i.posthog.com\"],\"img-src\":[\"'self'\",\"data:\",\"blob:\"],\"frame-ancestors\":[\"'self'\",\"https://trustedsite.com\",\"https://subdomain.myothersite.com\"]}"

#	 * Whether to set the `Content-Security-Policy-Report-Only` header instead of `Content-Security-
N8N_CONTENT_SECURITY_POLICY_REPORT_ONLY=false
# For testing purposes - Set this to true if you want to test in the browser if your response would be BLOCKED, but still allow responses

# ⚠️ Setting the variable below to true leaves your n8n instance vulnerable to XSS (Cross-Site Scripting). Leave it commented out or set it to false.
# N8N_INSECURE_DISABLE_WEBHOOK_IFRAME_SANDBOX=false


